<a href="https://colab.research.google.com/github/BaeSang1/Study/blob/main/202304_Colab/python230412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입
- int, str ,float, bool

## int 형
- 나이 입력하고 출력

In [ ]:
num_int = 30
print(num_int)
print(type(num_int))

30
<class 'int'>

## float형
- 키 입력

In [ ]:
my_height = 181.8
print(my_height)
print(type(my_height))

181.8
<class 'float'>

## str형
- 임의의 닉네임 입력하고 출력

In [ ]:
my_name = 'evan'
print(my_name)
print(type(my_name))

evan
<class 'str'>

## boolean형
- 논리 : 참/거짓

In [ ]:
x = True
y = False
z = x == y
print(z)
print(type(z))

False
<class 'bool'>

## 사칙연산

In [ ]:
x = 6
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y) # 나머지
print(x // y) # 몫
print(x ** y) # 제곱

9
3
18
2.0
0
2
216

In [ ]:
x = 10
y = 11

print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True

In [ ]:
a = int(input('숫자를 입력해주세요 : ')) # 형변환 > class 자체를 변경하는 작업
print(a)
print(type(a))

숫자를 입력해주세요 : 154
154
<class 'int'>

# String
- String 연산자(+)

In [ ]:
a = "소년은"
b = "봄을"
c = "좋아합니다..!"

letter = a+ " "+b+" "+c
print(letter)

소년은 봄을 좋아합니다..!

- String 연산자(*)

In [ ]:
x = "봄"
lyrics = x * 3
print(lyrics)

봄봄봄

## 인덱싱 & 슬라이싱

In [ ]:
x = "Hello World!!"

#첫번째 문제 : Hello의 알파벳 o 추출
print(x.find('o'))
print(x[4])
print(x.replace('o',''))

#두번째 문제 : World의 알파벳 l 추출
print(x[-4])

#세번째 문제 : World 글자 출력
print(x[6:11])

4
o
Hell Wrld!!
l
World

In [ ]:
x = "Hello World!!"
print(x[:11:4])

Hor

- immutable 객체
- mutable 객체

In [ ]:
x = "Hello World!!"

# 바꾸고 싶은 것, Aello World!!
x[0] = 'A'
print(x)

TypeError: ignored

In [ ]:
x = "Hello World!!"
x = 'A' + x[1:]
print(x)

Aello World!!

## 문자열 메서드

- 참고자료
  + 점프투 파이썬 
  https://wikidocs.net/13

  + 공식 홈페이지
  https://docs.python.org/3/library/string.html

In [ ]:
sampleText = "hello, kaggle"
upper_text = sampleText.upper()
print(upper_text)

HELLO, KAGGLE

In [ ]:
sampleNum = 123
upper_text = sampleNum.upper()
print(upper_text)

AttributeError: ignored

## 파이썬에서의 클래스 ⇒ 변수, **메서드 정의**

- 특정한 목적을 가지고 클래스 생성

  + str 클래스

  + 영어 / 대소문자 > 자유롭게 변환 기능 필요 ex)  upper(),lower()

  + int 클래스 upper() 에러

In [ ]:
sampleText = "hello, kaggle"
upper_text = sampleText.replace('hello','welcome')
print(upper_text)

In [ ]:
sampleText = "hello, kaggle"
upper_text = sampleText.split(sep = ',')
print(upper_text)

['hello', ' kaggle']

# List 리스트
- 시퀀스 데이터에요!
- 반복문 쓸 수 있어요!!

In [ ]:
from collections.abc import Sequence
my_num = 100
my_list = [1,2,3]
my_string =  "hello"

isSeq1 = isinstance(my_num,Sequence)
print(isSeq1)

isSeq2 = isinstance(my_list,Sequence)
print(isSeq2)

isSeq3 = isinstance(my_string,Sequence)
print(isSeq3)

False
True
True

## 인덱싱 & 슬라이싱
- 문자열 했던 것과 동일 방식

In [ ]:
a = ['가','나','다']
print(a[0])
print(a[1])
print(a[2])
print(a[-1])

가
나
다
다

In [ ]:
a = [1,2,['Apple','사과','Banana','키위'],4,5,6]
print(a)

# 문제 : Banana 글자에서 알파벳 a(글자의 마지막) 추출
print(a[2][2][-1])

# 문제 : 사과 Banana 키위 추출
print(a[2][1:])

[1, 2, ['Apple', '사과', 'Banana', '키위'], 4, 5, 6]
a
['사과', 'Banana', '키위']

## 리스트 메서드

-  insert() : 리스트의 특정 위치에 요소 삽입
- append() : 리스트 끝에 요소 삽입
- remove() : 리스트의 특정 요소 삭제
- pop() : 리스트의 마지막 요소 출력 후 삭제
- count() : 리스트 내 특정 요소의 개수 등등
- 공식 홈페이지 참고
https://docs.python.org/3/tutorial/datastructures.html

### append()

In [65]:
x = ['가','나']
texts = ['다','라','마']
x.append(texts)
print(x)

['가', '나', ['다', '라', '마']]

### extend()

In [66]:
x = ['가','나']
texts = ['다','라','마']
x.extend(texts)
print(x)

['가', '나', '다', '라', '마']

### insert()
- 인덱스 번호를 지정한 후, 새로운 값 추가

In [69]:
x = ['가','나','라']
x.insert(2, '다')
x.insert(1, '각')
print(x)

['가', '각', '나', '다', '라']

### 리스트 값 변경

In [70]:
x = ['가','나','C','라']
x[2] = '다'
print(x)

['가', '나', '다', '라']

### 리스트 값 삭제

In [73]:
dates = [412,111,702,613,1010]

# 412 제거
dates.remove(412)
print(dates)

#del
del dates[0]
print(dates)

[111, 702, 613, 1010]
[702, 613, 1010]

# 튜플
- 리스트와 비슷함(차이점 확인)

In [76]:
my_tuple = ('Hi',1,2,3)
print(my_tuple)
print(type(my_tuple))

('Hi', 1, 2, 3)
<class 'tuple'>

In [86]:
my_nested_tuple = ('Hi',[1,2,3],(3.11,3.23,2.12))
print(my_nested_tuple)
print(type(my_nested_tuple))

('Hi', [1, 2, 3], (3.11, 3.23, 2.12))
<class 'tuple'>

### 리스트와 튜플의 공통점
- 인덱싱 & 슬라이싱 동일함

In [80]:
a = (1,2,('Apple','사과','Banana','키위'),4,5,6)
print(a)
print(type(a))

(1, 2, ('Apple', '사과', 'Banana', '키위'), 4, 5, 6)
<class 'tuple'>

In [81]:
print(a[2][2][-1])

a

In [82]:
# 리스트의 값 수정
x = ['가','나','C','라']
x[2] = '다'
print(x)

y = ('가','나','C','라')
y[2] = '다'
print(y)

['가', '나', '다', '라']

TypeError: ignored

In [84]:
dates = (412,111,702,613,1010)

#del
del dates[0]
dates   # 튜플은 imutable 객체이므로 수정,삭제 불가

TypeError: ignored

In [89]:
my_tuple = ('가','가','나','나','나','다','라')
print(my_tuple.count('나'))
print(my_tuple.index('나'))

3
2

# 딕셔너리

In [98]:
my_dic = {
    'name' :'sangil',
    'age' : 31,
    'job' : 'student',
    'shopping' : [1,2,3]
}

# 문제 : 태어난 도시를 추가하세요, key_value값 알아서 작성
my_dic['city'] = 'Suwon'

# 값 수정
my_dic['shopping'] = '가방'

# 가방 제거
del my_dic['shopping']
my_dic

{'name': 'sangil', 'age': 31, 'job': 'student', 'city': 'Suwon'}

In [106]:
print(my_dic.keys())
print(my_dic.values())
print(my_dic.items())

dict_keys(['name', 'age', 'job', 'city'])
dict_values(['sangil', 31, 'student', 'Suwon'])
dict_items([('name', 'sangil'), ('age', 31), ('job', 'student'), ('city', 'Suwon')])

In [113]:
result = list(my_dic.items())
result[0][0]

'name'

In [110]:
for i in my_dic:
  print(i)
  print(my_dic[i])

name
sangil
age
31
job
student
city
Suwon

# 조건문
- if-else, if문 작성 시 ,조건 => True

In [114]:
a = 30
b = 31
if a>=b:
  print("a가 크다")
else:
  print('b가 크다')

b가 크다

In [117]:
a = 30
b = 31
if a > b:
  print("a가 크다")
elif a == b:
  print('a와 b가 같다')
else:
  print('b가 크다')

b가 크다

In [120]:
# input() 임의의 숫자를 입력 1~100
# 90점 이상 'A', 80점 이상 'B', 나머지 'C'

n = int(input('숫자를 입력하세요 : '))
if n >= 90:
  print('A')
elif n >= 80:
  print('B')
else:
  print('C')

숫자를 입력하세요 : 91
A